.main-div {
  width: 100%;
  margin: 0 auto 0 auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.hero-image {
  width: 100%;
  margin-bottom: 10px;
}
.hero-text {
  padding: 0 8% 0 8%;
}

@media only screen and (max-width: 700px) {
  .main-div {
    width: 85%;
    max-width: 1500px;
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-image {
    width: 80vw;
  }
  .hero-text {
    padding: 0 5% 0 5%;
  }
}
