.main-div {
  width: 100%;
}

.hero-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  margin: 20px 0 20px 0;
  padding: 0 5vw 0 5vw;
}

.hero-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 60vh;
  margin-bottom: 10px;
}

.hero-text-section {
  text-align: left;
  padding: 5% 3% 5% 3%;
  margin: 1vh 5vw 1vh 10vw;
}

.hero-text-section h1 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .main-div {
    margin: 0 auto 0 auto;
    padding: 0 1.5% 0 1.5%;
  }

  .hero-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 0;
    height: 50vh;
  }

  .hero-image {
    width: 32vh;
    height: auto;
  }

  .hero-item {
    height: fit-content;
  }

  .hero-text-section {
    margin: 1vh 0 1vh 0;
    height: auto;
    padding: 3%;
  }

  h1 {
    font-size: 1.6rem;
  }

  .hero-p {
    font-size: 1.2rem;
  }
}
