.main-div {
  width: 100%;
}

.hero-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 0 5vw 0 5vw;
}

.hero-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  margin-bottom: 10px;
}

.hero-text-section {
  padding: 5% 3% 5% 3%;
  margin: 1vh 5vw 1vh 5vw;
}

@media only screen and (max-width: 700px) {
  .main-div {
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
  }

  .hero-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
  }

  .hero-image {
    width: 80vw;
  }

  .hero-text-section {
    padding: 5% 3% 5% 3%;
    margin: 1vh 0 1vh 0;
  }
}
