#loading-section {
  width: 100%;
  background-color: rosybrown;
}

.loading-component-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-component-container {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: absolute;
  width: 60vw;
  height: auto;
  padding: 50px 100px 50px 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loading-component-item {
  margin-bottom: 10px;
  z-index: 1;
}

.loading-component-item p {
  font-size: 1.8rem;
}

.loading-component-title {
  text-align: center;
  margin: 20px 0 50px 0;
}

.loading-component-icon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

.car-animation-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.car-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22vw;
  z-index: 0;
}

@media only screen and (max-width: 700px) {
  .loading-component-container {
    width: 75vw;
    height: 75vh;
    padding: 25px;
    overflow-y: scroll;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .loading-component-item {
    margin-bottom: 10px;
  }

  .loading-component-title {
    margin: 20px 0 40px 0;
  }

  .loading-component-item p {
    font-size: 1.2rem;
  }

  .loading-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 350px;
  }

  .car-animation {
    visibility: hidden;
  }
}
