img {
  width: 100px;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30%;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
