.blog-section {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-flow: row wrap;
  row-gap: 50px;
}

.article-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.2);
  width: 25vw;
  height: auto;
}

.card-img-top {
  height: auto;
  width: 25vw;
  border-radius: 5px 5px 25px 5px;
  object-fit: cover;
}

.card-body {
  flex-direction: column;
  width: 25vw;
  max-width: 25vw;
  height: auto;
}

.card-text {
  font-size: 2em;
  font-weight: 500;
  color: #2f2e41;
}

.card-text:hover {
  color: #ff7c5b;
  text-decoration: underline #ff7c5b;
}
