.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContainer {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  position: absolute;
  width: 75vw;
  height: 75vh;
  padding: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
}

.modalText {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 40em;
  width: 100%;
  overflow-y: auto;
}

.modalText h2 {
  font-size: 1.6em;
  font-weight: bold;
}
.modalText p {
  font-size: 1.3rem;
}

.modalImage {
  position: relative;
  display: flex;
  flex: 1 2 20em;
}

/* need to insert mdia query to handle modal button
need to insert scroll
need to move button up z index 
need to  arrange notes and images in columns*/

/* .modalContainer body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
} */

@media only screen and (max-width: 800px) {
  .modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .modalContainer {
    align-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    width: 75vw;
    height: 85vh;
    padding: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: scroll;
  }

  .modalText {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1 1 40em;
    overflow-y: visible;
  }

  .modalText h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .modalText p {
    font-size: 1rem;
  }

  .modalImage {
    position: relative;
    display: flex;
    flex: 1 2 20em;
  }
}
