.openModalBtn {
  position: sticky;
  bottom: 50px;
  float: right;
  margin: 50px;
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 50%;
  background-color: #ff7c5b;
  color: white;
  cursor: pointer;
  font-size: xx-large;
  z-index: 3;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContainer {
  position: fixed;
  top: 10%;
  bottom: 10%;
  width: 75%;
  padding: 3em;
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between;
  align-items: center;
  align-content: space-around; */
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modalText {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ff7c5b;
  width: 50%;
}

img {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  background-color: lightcoral;
}

p {
  font-size: 1.25em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.modalText::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modalText {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* need to insert mdia query to handle modal button
need to insert scroll
need to move button up z index 
need to  arrange notes and images in columns*/

/* .modalContainer body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
} */
