.navbar {
  background-color: white;
  height: 100px;
  box-shadow: 0 5px 0 0px #fafafa;
  padding: 0;
}
.nav-logo {
  transform: scale(0.7);
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 700px) {
}
