.navbar {
  background-color: white;
  height: 12vh;
  box-shadow: 0 5px 0 0px #fafafa;
  padding: 0;
  position: sticky;
  z-index: 1;
}

.nav-logo {
  transform: scale(0.6);
  margin-top: -3px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 12vh;
  margin-right: 30px;
}

.nav-menu-item {
  display: flex;
}

.nav-button {
  width: 100px;
  height: 12vh;
  font-size: 1.3rem;
  background-color: white;
  border: none;
  text-decoration: none;
}

.nav-button:hover {
  color: #1f5657;
  font-weight: 500;
  border-bottom: solid 5px #1f5657;
  text-decoration: none;
}

.nav-button:focus {
  outline: none;
}

@media only screen and (max-width: 700px) {
  .navbar {
    height: 9vh;
  }

  .nav-logo-link {
    margin-top: -12px;
    height: 10vh;
  }

  .nav-logo {
    transform: scale(0.5);
    margin-left: -15px;
  }

  .nav-menu {
    width: 150px;
    height: 10vh;
    margin-right: 10px;
  }

  .nav-button {
    width: 80px;
    height: 8vh;
  }

  .container-fluid {
    height: 10vh;
  }
}
