.navbar {
  background-color: white;
  height: 100px;
  box-shadow: 0 5px 0 0px #fafafa;
  padding: 0;
  position: sticky;
  z-index: 1;
}

.container-fluid {
  padding: 0;
}

.nav-logo {
  transform: scale(0.7);
}

@media only screen and (max-width: 700px) {
  .navbar {
    height: 80px;
  }

  .nav-logo-link {
    margin-top: -5px;
  }

  .nav-logo {
    transform: scale(0.55);
  }
}
