h1 {
  font-size: 5rem;
  font-weight: bolder;
}

h2 {
  font-size: 2.5vw;
  font-weight: bolder;
}

p {
  font-size: 1.8rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.openModalBtn {
  position: sticky;
  bottom: 35px;
  float: right;
  margin: 30px;
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 50%;
  background-color: #ff7c5b;
  color: white;
  cursor: pointer;
  font-size: xx-large;
  z-index: 3;
}

.closeModalBtn {
  position: sticky;
  bottom: 35px;
  float: right;
  margin: 30px;
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 50%;
  background-color: #e85e3b;
  color: white;
  cursor: pointer;
  font-size: xx-large;
  z-index: 3;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.3rem;
  }

  .App {
    overflow-x: hidden;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .openModalBtn {
    position: sticky;
    float: right;
    bottom: 10px;
    margin: 10px;
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 50%;
    background-color: #ff7c5b;
    color: white;
    cursor: pointer;
    font-size: xx-large;
    z-index: 3;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
