/* @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
} */

.results-container {
  /* background-color: darkcyan; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100rem;
  /* border radius not working atm*/
  border-radius: 25px;
}

.results-disclaimer {
  /* background-color: plum; */
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
  padding: 5%;
  margin-top: 10%;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  background-color: #64a7a8;
}

.results-table {
  width: 50%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 25px;
}

/* Styling title and icon headers*/
th {
  padding: 25px;
  min-width: 100px;
}

td {
  background-color: white;
  border-bottom: 3px solid #64a7a8;
  border-top: 3px solid #64a7a8;
  padding: 25px;
  min-width: 150px;
  border-collapse: collapse;
}

td:nth-last-child(1) {
  border-right: 3px solid #64a7a8;
}

td:nth-child(2) {
  border-left: 3px solid #64a7a8;
}

/*
table tbody tr:first-child td:nth-child(2) {
  background-color: cyan;
}

table tbody tr:first-child td:nth-child(4) {
  background-color: cyan;
}

table tbody tr:last-child td:nth-child(2) {
  background-color: cyan;
}

table tbody tr:last-child td:nth-child(4) {
  background-color: cyan;
  border-bottom-right-radius: 25px;
}
*/
