/* @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
} */

.results-container {
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-table {
  font-size: 30px;
  position: relative;
  text-align: center;
}

/* Styling first table row*/
.row-header {
  background-color: mediumturquoise;
}

/* Styling title and icon headers*/
th {
  background-color: moccasin;
  padding: 25px 25px 25px 25px;
  margin: 25px 0;
  min-width: 200px;
}

td {
  background-color: white;
  border-bottom: 2px solid #64a7a8;
  border-top: 2px solid #64a7a8;
  margin: 25px 0;
  min-width: 200px;
}

td:nth-last-child(1) {
  border-right: 2px solid #64a7a8;
}

td:nth-child(2) {
  border-left: 2px solid #64a7a8;
}

/*
table tbody tr:first-child td:nth-child(2) {
  background-color: cyan;
}

table tbody tr:first-child td:nth-child(4) {
  background-color: cyan;
}

table tbody tr:last-child td:nth-child(2) {
  background-color: cyan;
}

table tbody tr:last-child td:nth-child(4) {
  background-color: cyan;
  border-bottom-right-radius: 25px;
}
*/
