.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.more-info-button {
  width: 100%;
  margin-top: 80px;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  border: none;
}

.more-info-button:hover {
  color: #ff7c5b;
}

.more-info-button:focus {
  outline: none;
}

.reference-section {
  margin: 0 105px;
}

.reference-section-title {
  margin-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .results-container {
    margin-top: 20px;
  }

  .reference-section {
    margin: 0 10px;
  }
}
