.car-animation-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: -130px;
  z-index: -1;
}

.car-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

@media only screen and (max-width: 700px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .loading-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 350px;
  }
}
