input[type="text"]::placeholder {
  text-align: center;
}
.card {
  background-color: #074445;
  border-radius: 0 50px 0 50px;
}
.card-title {
  color: white;
  font-size: 1.7rem;
  padding-bottom: 10px;
}
.card-body {
  width: 1000px;
  margin: 15px auto 15px auto;
}
.row {
  display: flex;
  width: 100%;
  margin: 0;
}
.search-input {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2 0 0%;
  margin: 0 10px 0 10px;
  width: 100%;
}
.btn-submit {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 0 0%;
  margin: 0 10px 0 10px;
  width: 100%;
}
.form-control {
  border-radius: 25px;
  border: none;
}
.btn-primary {
  background-color: #ff7c5b;
  border: none;
  border-radius: 25px;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #e85e3b;
}

@media only screen and (max-width: 1020px) {
  .card-body {
    width: 100%;
    margin: 15px auto 15px auto;
  }
}
